/class-02/class-2.2/node_modules
/class-02/class-2.5/node_modules
/class-03/class-3.1/node_modules
/class-03/class-3.2/jwt/node_modules
/class-03/class-3.2/database/node_modules
/class-03/class-3.2/database/.env
/class-04/class-4.1/1.sum/node_modules
/class-04/class-4.1/2.si/node_modules
/class-04/class-4.2/1.todo/node_modules
class-11/class-11.2